-i https://pypi.doubanio.com/simple

matplotlib
numpy
pandas
# statsmodels
sklearn

paramiko==2.10.1

Flask==2.3.2
Flask-Login==0.4.1
flask-cookie-decode==0.3.2
uWSGI==2.0.17
gunicorn==19.8.1

requests==2.20.0
