-i https://pypi.doubanio.com/simple

matplotlib
numpy
pandas
# statsmodels
sklearn

paramiko==3.4.0

Flask==2.3.2
Flask-Login==0.4.1
flask-cookie-decode==0.3.2
uWSGI==2.0.22
gunicorn==22.0.0

requests==2.31.0
